@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
}

nav {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 0 auto;
  height: 72px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

button {
  all: unset;
  padding: 6px 16px;
  height: 32px;
  font-weight: 500;
  background: #d01c28;
  color: white;
}

.content {
  width: 1125px;
  height: 50vh;
  margin: 80px auto;
  display: flex;
  width: 80%;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.textContent h1 {
  font-size: 108px;
  line-height: 102px;
}

.textContent p {
  font-weight: 600;
  color: grey;
  font-size: 14px;
}

.buttons {
  display: flex;
  gap: 40px;
}

.secondaryBtn {
  background: transparent;
  border: 1px solid black;
  color: black;
}
